#include "Recursos.h"

/*Dialogo de "Ver resulados"*/

DlgResultados DIALOG 10, 10, 200, 100   //Dimensiones y posicion
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU   //Estilos
CAPTION "Resultados"    //Barra de titulo
BEGIN

    CONTROL "Digitos: ", STT_DIGITOS, "STATIC", WS_VISIBLE | WS_CHILD, 5, 5, 25, 10 //Texto "Digitos:"
    CONTROL "Duración: ", STT_DURACION, "STATIC", WS_VISIBLE | WS_CHILD, 5, 25, 32, 10  //Texto "Duración:"
    CONTROL "Resultado: ", STT_RESULTADO, "STATIC", WS_VISIBLE | WS_CHILD, 5, 40, 40, 10    //Texto "Resultado:"

    CONTROL "", EDT_DIGITOS, "EDIT", ES_READONLY | ES_LEFT | WS_VISIBLE | WS_CHILD, 33, 5, 150, 10  //Espacio para los digitos
    CONTROL "", EDT_DURACION, "EDIT", ES_READONLY | ES_LEFT | WS_VISIBLE | WS_CHILD, 38, 25, 25, 10 //Espacio para la duracion
    CONTROL "", EDT_TIEMPO, "EDIT", ES_READONLY | ES_LEFT | WS_VISIBLE | WS_CHILD, 57, 25, 10, 10   //Espacio para la unidad de tiempo
    CONTROL "", EDT_RESULTADO, "EDIT", ES_READONLY | ES_LEFT | WS_VISIBLE | WS_CHILD, 42, 40, 150, 10   //Espacio para el resultado

    CONTROL "Anterior", ID_ANTERIOR, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  40, 70, 40, 10  //Boton "Anterior"
    CONTROL "Siguiente", ID_SIGUIENTE, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  100, 70, 40, 10   //Boton "Siguiente"
    CONTROL "Aceptar", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 85, 40, 10  //Boton "Aceptar"

END
