#include "Recursos.h"

DlgResultados DIALOG 10, 10, 200, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Resultados"
BEGIN

    CONTROL "Digitos: ", STT_DIGITOS, "STATIC", WS_VISIBLE | WS_CHILD, 5, 5, 25, 10
    CONTROL "Duración: ", STT_DURACION, "STATIC", WS_VISIBLE | WS_CHILD, 5, 25, 32, 10
    CONTROL "Resultado: ", STT_RESULTADO, "STATIC", WS_VISIBLE | WS_CHILD, 5, 40, 40, 10

    CONTROL "", EDT_DIGITOS, "EDIT", ES_READONLY | ES_LEFT | WS_VISIBLE | WS_CHILD, 33, 5, 150, 10
    CONTROL "", EDT_DURACION, "EDIT", ES_READONLY | ES_LEFT | WS_VISIBLE | WS_CHILD, 38, 25, 150, 10
    CONTROL "", EDT_RESULTADO, "EDIT", ES_READONLY | ES_LEFT | WS_VISIBLE | WS_CHILD, 42, 40, 150, 10

    CONTROL "Anterior", ID_ANTERIOR, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  40, 70, 40, 10
    CONTROL "Siguiente", ID_SIGUIENTE, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  100, 70, 40, 10
    CONTROL "Aceptar", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 85, 40, 10

END
